<template name="Chat">
  <div class="ui grid container">
    <div class="two wide column">
      <i style="font-size: 30px" class="material-icons play">play_arrow</i>
      <i style="font-size: 30px" class="material-icons pause">pause</i>
      <i style="font-size: 30px" class="material-icons stop">stop</i>
    </div>
    <div class="fourteen wide column">
      <div id="slider"></div>
      <div class="tooltip"></div>
    </div>
  </div>
 <div id="controls">
   <p>Fecha: {{slider}}</p>
 </div>
  <p>Created by Username since {{livestamp createdAt}}</p>
  <div id="range"></div>
  <div class="chat">
    <div class="message-list">
      {{#each Bubbles}}
        {{>Bubble}}
       {{/each}}
    </div>
 </div>
</template>
